<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>BootsFaces_THEME</param-name>
        <param-value>superhero</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_USE_VIEWPORT</param-name>
        <param-value>width=device-width, initial-scale=1.0, user-scalable=no</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.noEntriesText</param-name>
        <param-value>No matching entries...</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.ajaxDisableRenderRegionsOnRequest</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_jquery_from_cdn</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.butterfaces.spinnerText</param-name>
        <param-value>Fetching data...</param-value>
    </context-param>
    <context-param>
        <param-name>
            org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES
        </param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>