/*body{
    height: 100%;
}


.ui-menubar,.ui-menu-child,.ui-menu {
    height: 60px !important;
    background: #99CC00 !important;

}
ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color:red !important;
}

li ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color:green !important;
}
.ui-menuitem {
    background: #99CC00 !important;
    //top: 10px; !important;

}*/
/*ul li.ui-menuitem{
    top: 10px;;
}*/

/*ul li.ui-menuitem, .ui-widget, .ui-corner-all{
    top: 10px; !important;
}*/
.ui-menubar,.ui-menu-child,.ui-menu {
    height: 66px !important;
    background: #99CC00 !important;

}
li ul li.ui-menuitem-active>a{
    height: 60px !important;
    background-image: none !important;
    background-color:green !important;
}
.ui-menuitem {
    height: 60px !important;
    background: #99CC00 !important;


}
/*.submenu .ui-menu-child{
    left: -60px !important;
    width: 8.5em !important;
}*/
ul li.ui-menuitem-active>a{
    height: 60px !important;
    background-image: none !important;
    background-color:#2d672d !important;
}

/*.submenu > ul{
    left: -60px !important;
    width: 8.5em !important;
}*/
/*.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
    left: -60px !important;
    width: 8.5em !important;
}*/

.ui-menuitem-text {
    height: 60px !important;
    position: relative;
    font-size: x-large;
}


